---
import Layout from "src/layouts/Layout.astro";
---

<Layout
  SEO={{
    metaTitle: "Can't find this page | The Roxbury Market",
    metaDescription: "Looks like we can't find the page you are looking for.",
  }}
>
  <section class="px-edge py-10 lg:py-20">
    <div class="max-w-screen-xl mx-auto text-center">
      <h1 class="font-roboto font-black font-headline text-4xl lg:text-5xl">
        The Page You Are Looking For Could Not Be Found
      </h1>
      <p class="mt-3 text-lg">
        Sorry, we can't find this page. The page was either removed, renamed, or
        doesn't exist.
      </p>
      <a
        class="mt-5 bg-accent text-white font-roboto font-bold rounded-3xl py-4 px-12 inline-block leading-none"
        href="/">Go Home</a
      >
    </div>
  </section>
</Layout>
