---
import { Image } from "@astrojs/image/components";
import Layout from "src/layouts/Layout.astro";
import { flavors } from "@data/ice-cream";
---

<Layout
  SEO={{
    metaTitle: "Ice Cream | The Roxbury Market",
    metaDescription:
      "At The Roxbury Market we sell nationally recognized ice cream from Ferris Acres.",
  }}
>
  <section
    class="relative overflow-hidden px-edge py-10 lg:py-20 min-h-[600px] flex justify-center items-center"
  >
    <Image
      class="absolute inset-0 h-full w-full object-cover"
      format="webp"
      quality={100}
      src={import("@img/ice-cream/creamery.jpg")}
      alt="ferris acres ice cream"
    />
    <div class="max-w-screen-xl mx-auto relative z-10 text-center">
      <h1 class="font-bold text-4xl lg:text-5xl text-white">
        Our Ice Cream Flavors
      </h1>
      <p class="mt-3 text-white text-lg leading-relaxed">
        The flavors that we stock are always on rotation, so be sure to come
        back to try them all!
      </p>
    </div>
  </section>
  <section class="px-edge py-10 lg:py-20">
    <div class="max-w-screen-xl mx-auto">
      <ul class="space-y-5 text-center text-text-dark">
        {
          flavors.map((flavor) => (
            <li>
              <p class="font-bold text-3xl">{flavor.title}</p>
              <p class="text-lg">{flavor.text}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
