---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout
  SEO={{
    metaTitle: "The Roxbury Market",
    metaDescription:
      "The Roxbury Market has always been the talk-of-the town gathering spot. A veteran owned market dedicated to providing assortment of food, locally produced goods, and ice and cream. The pulse of Roxbury.",
  }}
>
  <section
    class="relative px-edge py-10 min-h-[600px] overflow-hidden lg:py-20 flex justify-center items-center"
  >
    <Image
      src={import("@img/home/the-pulse-of-roxbury.jpg")}
      format="webp"
      quality={100}
      alt="the pulse of roxbury"
      class="absolute inset-0 w-full h-full object-cover"
    />
    <div class="max-w-screen-xl mx-auto text-white text-center relative z-10">
      <h1 class="text-4xl font-roboto font-black lg:text-5xl">
        The Pulse of Roxbury
      </h1>
      <p class="mt-4 max-w-2xl mx-auto">
        The Roxbury Market has always been the talk-of-the town gathering spot.
        A veteran owned market dedicated to providing assortment of food,
        locally produced goods, and ice and cream.
      </p>
      <div class="flex justify-center gap-5 mt-5">
        <a
          href="/about"
          class="bg-accent text-white font-roboto font-bold rounded-3xl py-4 px-12 inline-block leading-none"
          >Our Story</a
        >
        <a
          class="border border-white leading-none font-roboto font-bold text-white inline-block rounded-3xl px-12 py-4"
          href="/contact">Contact Us</a
        >
      </div>
    </div>
  </section>

  <section class="px-edge py-10 lg:py-20">
    <div
      class="max-w-screen-xl mx-auto flex flex-col lg:flex-row gap-10 justify-between items-center"
    >
      <Image
        format="webp"
        quality={100}
        src={import("@img/home/kitchen.png")}
        alt="inside look at roxbury market products"
      />
      <div class="text-center lg:text-left">
        <div class="flex justify-center lg:justify-start items-center gap-2">
          <div class="flex gap-[1px]">
            {
              [...Array(3).keys()].map(() => (
                <div class="w-2 h-2 border-black border-2 rounded-full" />
              ))
            }
          </div>
          <p class="font-bold leading-none uppercase">Our Kitchen</p>
        </div>

        <h2 class="font-roboto font-black text-3xl lg:text-4xl">
          Fresh Cooked Meals Ready To Order
        </h2>
        <div
          class="mt-2 flex justify-center lg:justify-start items-center gap-1"
        >
          <Icon name="mdi:clock-outline" size={20} />

          <p class="leading-none text-lg">Mon-Sun Until 2:00 pm</p>
        </div>
        <p class="mt-3 max-w-lg text-lg leading-relaxed">
          Our deli is open everyday and serves a wide range of sandwhiches,
          snacks, and salads. Have a large gathering and don't want to cook? We
          cater too!
        </p>
        <a
          href="/menu"
          class="mt-5 bg-accent text-white font-roboto font-bold rounded-3xl py-4 px-12 inline-block leading-none"
          >View Our Menu</a
        >
      </div>
    </div>
  </section>

  <section class="px-edge py-10 lg:py-20 bg-[#e3eeff]">
    <div class="max-w-screen-xl mx-auto">
      <div
        class="bg-white p-10 rounded flex flex-col lg:flex-row items-center lg:items-start justify-between gap-10"
      >
        <div class="text-center lg:text-left">
          <div class="flex justify-center lg:justify-start items-center gap-2">
            <div class="flex gap-[1px]">
              {
                [...Array(3).keys()].map(() => (
                  <div class="w-2 h-2 border-black border-2 rounded-full" />
                ))
              }
            </div>
            <p class="font-bold leading-none uppercase">Ice Cream</p>
          </div>

          <h2 class="font-roboto font-black text-3xl lg:text-4xl">
            Farm Fresh Ice Cream From Ferris Acres!
          </h2>
          <div
            class="mt-2 flex justify-center lg:justify-start items-center gap-1"
          >
            <Icon name="mdi:clock-outline" size={20} />

            <p class="leading-none text-lg">Mon-Sun All Day</p>
          </div>
          <p class="mt-3 max-w-lg text-lg leading-relaxed">
            We proudly serve ice cream from the Ferris Acres Creamery in
            Newtown. Nationally recognized as some of the best ice cream in the
            nation by publications such as Thrillist and Travel + Leisure.
          </p>
          <a
            href="/ice-cream"
            class="mt-5 bg-accent text-white font-roboto font-bold rounded-3xl py-4 px-12 inline-block leading-none"
            >See All Flavors</a
          >
        </div>
        <Image
          format="webp"
          quality={100}
          src={import("@img/home/ferris-acres-ice-cream.png")}
          alt="ferris acres ice cream"
        />
      </div>
    </div>
  </section>

  <section class="px-edge py-10 lg:py-20">
    <div
      class="max-w-screen-xl mx-auto flex flex-col-reverse lg:flex-row justify-between items-center gap-10"
    >
      <Image
        src={import("@img/home/local-merch.png")}
        format="webp"
        quality={100}
        alt="local goods and merchandise"
      />
      <div class="text-center lg:text-left">
        <div class="flex justify-center lg:justify-start lg:items-center gap-2">
          <div class="flex gap-[1px]">
            {
              [...Array(3).keys()].map(() => (
                <div class="w-2 h-2 border-black border-2 rounded-full" />
              ))
            }
          </div>
          <p class="font-bold leading-none uppercase">
            Local Goods and Merchandise
          </p>
        </div>

        <h2 class="font-roboto font-bold text-3xl lg:text-4xl">
          Local Exclusive Goods
        </h2>
        <p class="mt-3 max-w-lg text-lg leading-relaxed">
          We sell goods produced from individuals local to our community that
          you won't find anywhere else.
        </p>
        <a
          href="https://roxburymarketstore.com/"
          target="_blank"
          class="mt-5 bg-accent text-white font-roboto font-bold rounded-3xl py-4 px-12 inline-block leading-none"
          >Visit Our Online Store</a
        >
      </div>
    </div>
  </section>
  <section class="px-edge py-10 lg:py-20">
    <div
      class="max-w-screen-xl mx-auto flex flex-col lg:flex-row justify-between items-center gap-10"
    >
      <div class="text-center lg:text-left">
        <div class="flex justify-center lg:justify-start items-center gap-2">
          <div class="flex gap-[1px]">
            {
              [...Array(3).keys()].map(() => (
                <div class="w-2 h-2 border-black border-2 rounded-full" />
              ))
            }
          </div>
          <p class="font-bold leading-none uppercase">Veteran Owned</p>
        </div>

        <h2 class="font-bold text-3xl lg:text-4xl">How It Started</h2>
        <p class="mt-3 max-w-lg text-lg leading-relaxed">
          After serving many years in the United States Air Force and inspired
          by vast experiences throughout the world, I wanted to venture out on
          my own. The Roxbury Market has provided a bridge with a connection
          between serving and building a new civilian life. The Market is small
          in size but not in scope as we have propagated the shelves with many
          artisan Food items and regional Beer. We also have a full-service
          Deli, as well as, a Gasoline/Diesel station. In addition, we serve
          renown Ferris Acres Ice Cream. We have a large selection of local and
          national outstanding coffees such as Ferris, Black Rifle, Sacred
          Grounds, Redding Roasters, Zero Prophet, Candlewood, Bones, and many
          more. The Market also has an extensive range of merchandise.
        </p>
        <a
          href="/about"
          class="mt-5 bg-accent text-white font-bold rounded-3xl py-4 px-12 inline-block leading-none"
          >Learn More About Our Story</a
        >
      </div>
      <Image
        format="webp"
        quality={100}
        class="rounded-lg"
        height={500}
        src={import("@img/home/wayne.jpg")}
        alt="wayne ferris of the roxbury market"
      />
    </div>
  </section>
</Layout>
