---
import { Image } from "@astrojs/image/components";
// Import components
import NavMenu from "./NavMenu";
import TopBar from "./TopBar.astro";
const links = [
  { linkText: "Home", link: "/" },
  { linkText: "Our Story", link: "/about" },
  {
    linkText: "Menu",
    link: "/menu",
  },
  {
    linkText: "Ice Cream",
    link: "/ice-cream",
  },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<TopBar />
<header class={(className ? className : "") + " px-edge relative"}>
  <div class="mx-auto flex max-w-screen-2xl items-center justify-between py-4">
    <a href="/"
      ><Image
        height={100}
        src={import("@img/logo.png")}
        alt="the roxbury market"
      />
    </a>

    <NavMenu links={links} client:load />
  </div>
</header>
